@import '../../App.scss';

.Home {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    .navbar-scroll {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 1% 4%;
        z-index: 9999;
        background-color: $primary3;
        box-shadow: 0 0 10px grey;


        .navpart2 {
            width: 40%;
            display: flex;
            justify-content: space-evenly;

            a {
                text-decoration: none;
                color: $primary1;
                font-size: 1.1rem;
                font-weight: 600;
            }
        }
    }


    .zoom {
        position: absolute;
        width: 100vw;
        height: 100%;
        animation-name: topscroll;
        animation-duration: 40s;
        animation-iteration-count: infinite;
        display: flex;


        img {
            width: 100%
        }

    }


    @keyframes topscroll {
        0% {
            transform: translateX(0%);
        }

        50% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(-200%);
        }
    }


    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 3, 21, .4);
    }

    .main_content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: last baseline;
        color: $primary3;
        padding: 6%;
        box-sizing: border-box;




        .content {

            h2 {
                color: $primary3;
            }

            h1 {
                font-size: 4rem;
                margin: 0;
            }


            .btn {
                padding: 2% 0;
                display: flex;
                justify-content: space-between;
                width: 35%;


                a {
                    text-decoration: none;
                    font-size: 1.4rem;
                    color: $primary3;
                    border: 2px solid $primary3;
                    padding: 3% 4%;
                    border-radius: 10px;
                    transition: all .5s ease;
                }
            }
        }
    }
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 2% 3%;

    .tag {
        display: none;
        position: absolute;
        top: 46.2%;
        left: 46%;
        background-color: $primary2;
        height: 7rem !important;
        z-index: 999;
        border-radius: 10px;
        color: $primary3;
        text-align: center;
        padding: 1% 1% 0;
        box-sizing: border-box;
        box-shadow: 0 0 20px $dark;

        div {
            height: 50% !important;
        }

        h1,
        p {
            margin: 0;
        }
    }

    div {
        height: 30rem;
    }

    img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }


    .hide-part1 {
        display: none;
    }

    .part1,
    .part5 {
        width: 40%;

    }


    .part2,
    .part6 {
        width: 37%;
        position: relative;
        background-color: $primary3;
        box-sizing: border-box;
        padding: 1% 1% 1% 3%;


        h1 {
            color: $primary2;
            font-size: 3rem;
            margin: 0;
        }

        .h1::before {
            content: "";
            height: 3px;
            background-color: $primary2;
            width: 12%;
            position: absolute;
            top: 9%;
            left: 38%;

        }

        .h1::after {
            content: "";
            height: 3px;
            background-color: $primary2;
            width: 20%;
            position: absolute;
            top: 11%;
            left: 38%;

        }

        p {
            font-size: 1.1rem;
            color: $primary_text;
            line-height: 1.6rem;
        }
    }

    .part3 {
        width: 40%;
        padding: 2% 4% 0 0;
        box-sizing: border-box;

        h1 {
            color: $primary2;
            font-size: 3rem;
            margin: 3% 0 0;
        }

        p {
            font-size: 1.1rem;
            color: $primary_text;
            line-height: 1.6rem;
        }
    }

    .part4 {
        width: 35%;
    }



}

.blockwrap {
    padding: 8% 3% 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url(../Images/bg-img.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.service {
    text-align: center;


    h1 {
        font-size: 3rem;
        color: $primary2;
    }

    .wrap {
        width: 94%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;
        padding: 1% 3%;
    }

}

.gallery {

    h1 {
        color: $primary2;
        font-size: 3rem;
        text-align: center;
    }

    .gallerywrap {
        overflow: scroll;
        width: 100%;
        display: flex;
        justify-content: center;



        .img {
            width: 100%;
            height: 100%;
        }


        img {
            width: 100%;
            height: 100%;
            box-shadow: 0 0 10px grey;
        }

    }

    // .gallerywrap::-webkit-scrollbar {
    //     display: none;
    // }

}


.Why_us {
    background-image: url(../Images/roof1.jpg);
    background-size: 100% 100%;
    position: relative;
    margin-top: 2%;
    padding: 0 0 3%;

    .edge-top {
        left: 35%;
        height: 3rem;
        width: 30%;
        background-color: $primary3;
        position: relative;
        z-index: 11;
    }

    .edge-top::before {
        content: '';
        position: absolute;
        top: 0;
        left: -6.5%;
        border-top: 49px solid $primary3;
        border-left: 32px solid transparent;
        border-bottom: 0 solid transparent;
        border-right: 0 solid transparent;
    }

    .edge-top::after {
        content: '';
        position: absolute;
        top: 0;
        right: -6.5%;
        border-top: 49px solid $primary3;
        border-left: 0 solid transparent;
        border-bottom: 0 solid transparent;
        border-right: 32px solid transparent;
    }

    h3 {
        color: $primary3;
        text-align: center;
        font-size: 2rem;
        margin: 3% 0 0;
        position: relative;
        z-index: 1;
    }

    h1 {
        color: $primary2;
        text-align: center;
        font-size: 3rem;
        position: relative;
        z-index: 1;
        margin: 0 0 2%;
    }

    .choose_wrap {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: space-evenly;
        margin: 0 25%;
    }


}

.Why_us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(6, 3, 21, .4);
}


.location {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2% 10%;

    .part {
        width: 55%;
    }

    .part2 {
        width: 40%;

        img {
            width: 100%;
        }
    }
}


.footer {
    background-color: #0E2E50 !important;
    color: $primary3;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2% 4%;
}

.footer h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 15%;
}

.footer p {
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0 2.8% 0;
}

.one {
    width: 20%;
    padding-left: 4%;
}

.two {
    width: 20%;
    padding-left: 4%;
}

.three {
    width: 20%;
    padding-left: 4%;
}


.five {
    width: 100%;
    margin: 5% 0% 1% 2%;
    padding-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.five-1 {
    width: 50%;
}

.five-2 {
    width: 50%;
}

/* content */
.f-icon {
    margin-right: 3%;
    font-size: 1.1rem;
}

.icon {
    margin-top: 7%;
    display: flex;
}

.icon .social {
    transition: none;
}

.one a {
    border-radius: 50%;
    border: 1px solid $primary3;
    padding: 2% 1.8%;
    margin-right: 2%;
    width: 7%;
    color: $primary3;
    display: grid;
    place-items: center;
    cursor: pointer;
    text-decoration: none;
}

.two p {
    cursor: pointer;
}

.two .t-r {
    font-size: 1rem;
    margin-right: 3%;
}



.four {
    width: 25%;
    padding: 3% 1% 0;
}

.four p {
    margin: 3% 0 0;
}



.five small {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: .9rem;
    margin-right: .2%;
}

.five a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.f-a {
    border-bottom: none !important;
    padding: 0 1.8%;
}

.m-l {
    margin-left: 57%;
}

.b-s {
    border-left: 2px solid rgba(256, 256, 256, .1);
}

.last {
    padding-right: 0%;
}

/* hover */

.one a:hover {
    background-color: $primary3;
    color: #009472;
}

.one span:hover .social {
    color: #009472;
    transition: none;
}

.two p:hover {
    letter-spacing: 1px;
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65, 0, .076, 1)) {
    transition: $property $duration $ease;
}

//   * {
//     box-sizing: border-box;
//     &::before, &::after {
//       box-sizing: border-box;
//     }
//   }


#container button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin: 5px;

    &.learn-more {
        width: 12rem;
        height: auto;

        .circle {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: $primary2;
            border-radius: 1.625rem;

            .icon {
                @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                background: $primary2;

                &.arrow {
                    @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
                    left: 0.625rem;
                    width: 1.125rem;
                    height: 0.125rem;
                    background: none;

                    &::before {
                        position: absolute;
                        content: '';
                        top: -0.25rem;
                        right: 0.0625rem;
                        width: 0.625rem;
                        height: 0.625rem;
                        border-top: 0.125rem solid #fff;
                        border-right: 0.125rem solid #fff;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .button-text {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: $primary3;
            font-weight: 500;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &:hover {
        .circle {
            width: 100%;

            .icon {
                &.arrow {
                    background: $primary2;
                    transform: translate(1rem, 0);
                }
            }
        }

        .button-text {
            color: $primary3;
        }
    }
}


@media only screen and (min-width:320px) and (max-width:480px) {
    .Home {
        .main_content {
            align-items: center;

            .content {
                h2 {
                    font-size: 1rem;
                }

                h1 {
                    font-size: 2rem;
                }
            }
        }
    }

    .blockwrap {
        padding: 14% 3% 6%;
        gap: 4rem
    }

    .about {
        .tag {
            display: none;
        }

        div {
            height: 43rem;
        }

        .part1 {
            display: none;
        }

        .part2 {
            .h1::before {
                top: 5%;
                left: 50%;
            }

            .h1::after {
                top: 6%;
                left: 50%;
            }
        }

        .part2,
        .part3,
        .part4,
        .part5,
        .part6 {
            width: 90%;
        }

        .hide-part1 {
            width: 90%;
            display: block;
        }


    }

    .Why_us {
        .choose_wrap {
            margin: 0 15%;
        }
    }


    .footer {
        margin: 0;
    }

    .one {
        width: 95%;
    }

    .two {
        width: 95%;
    }

    .three {
        width: 95%;
    }

    .four {
        width: 95%;
    }

    .four a {
        top: 90%;
        padding: 2%;

    }

    .five {
        margin-top: 10%;
        justify-content: center;
    }

    .five-1 {
        width: 100%;
    }

    .five-2 {
        width: 100%;
        text-align: center;
        margin-top: 3%;
    }

    .five .small {
        margin-left: 3%;
        width: 3% !important;
    }

    .f-a {
        width: 8%;
    }

    .five small {
        width: 60%;
    }

    .a-center {

        margin: 2% 31%;
        margin-top: 3%;
    }

    .f-a {
        margin-top: 3%;
        width: 15%;
    }

    .m-l {
        margin-left: 0%;
    }





}