@import '../../App.scss';


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2% 3%;
    position: fixed;
    top: 0;
    width: 94%;
    z-index: 9999;
    background-color: $navbar-fade;
    box-shadow: 0 0 10px grey;



    .navpart2 {
        width: 40%;
        display: flex;
        justify-content: space-evenly;

        a {
            text-decoration: none;
            color: $primary3;
            font-size: 1.1rem;
            font-weight: 600;
        }
    }

    .navpart3 {
        background-color: $primary2 ;
        padding: .5% .7%;
        border-radius: 5px;

        .i {
            color: $primary3;
            font-size: 1.3rem;
        }
    }

    .contact-info {
        position: absolute;
        top: 0;
        right: 0;
        width: 65%;
        display: flex;
        background-color: $primary1;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        padding: 0 4%;
        box-sizing: border-box;

        a {
            text-decoration: none;
            color: $primary3;
        }

        .contact {
            display: flex;
            align-items: center;
            width: 43%;


            a {
                width: 50%;
            }
        }

        .icon-div {
            width: 30%;
            display: flex;
            // justify-content: space-evenly;
            align-items: center;

            a {
                width: 20%;
                padding: 0 5%;
                border-right: 1px solid $primary3;
            }

        }

    }

    .contact-info::before {
        content: "";
        position: absolute;
        top: 0;
        left: -3%;
        border-top: 49px solid $primary1;
        border-left: 32px solid transparent;
        border-bottom: 0 solid transparent;
        border-right: 0 solid transparent;
    }

}

.slide {
    position: fixed;
    z-index: 999;
    width: 20%;
    top: 0;
    right: 0;
    background-color: $primary3;
    padding: 1% 2% 3% 5%;
    box-shadow: 0 0 15px grey;

    h2 {
        color: $primary2;
    }

    .f-icon {
        color: $primary2;
    }

    .icon {
        margin-top: 7%;
        display: flex;
    }

    .icon .social {
        transition: none;
    }

    .one1 span {
        border-radius: 50%;
        color: $primary2;
        border: 2px solid $primary2;
        padding: 2% 1.8%;
        margin-right: 2%;
        width: 7%;
        display: grid;
        place-items: center;
        cursor: pointer;
    }
}

.email-link {
    display: flex;
    align-items: end;
}

@media only screen and (min-width:320px) and (max-width:480px) {
    .navbar {

        .navpart1 {
            width: 20%;
        }

        .navpart2 {
            display: none;
        }

        .contact-info {
            display: none;


        }
    }

}