@import '../../App.scss';

.card {
    width: 28%;
    padding: 1%;
    border-radius: 18px;
    transition: 1s ease-in-out;



    .part1 {
        width: 100%;
        height: 19rem;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        border: 2px solid $primary3;


        .icondiv {
            width: 18%;
            position: absolute;
            top: 5%;
            right: 5%;
            z-index: 999;

            img {
                border-radius: 10px;
            }
        }


        img {
            width: 100%;
            height: 100%;
        }
    }

    .part1::after,
    .part1::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background-color: $primary2;
        opacity: 0.7;
        -webkit-transition: all 0.45s ease;
        transition: all 0.45s ease;
    }

    .part1::before {
        -webkit-transform: skew(30deg) translateX(-130%);
        transform: skew(30deg) translateX(-130%);
    }

    .part1::after {
        -webkit-transform: skew(-30deg) translateX(-130%);
        transform: skew(-30deg) translateX(-130%);
    }

    .part2 {
        position: absolute;
        bottom: 0%;
        left: 0%;
        z-index: 99;
        width: 100% !important;
        height: 100%;
        text-align: start;
        padding: 0 5%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;


        h2 {
            display: none;
            margin: 0;
            color: $primary3;
            font-size: 2rem;
            width: 100%;
            z-index: 99;
            position: relative;
        }

        p {
            display: none;
            z-index: 99;
            position: relative;
            font-size: 1.1rem;
            animation-name: updown;
            animation-duration: 1s;
            animation-iteration-count: 1;
            padding-right: 20%;

        }

        @keyframes updown {
            0% {
                transform: translateX(-100%);
            }

            100% {
                transform: translateX(0);
            }
        }
    }

    .part2::before,
    .part2::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $primary2;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
        content: '';
        opacity: 0.5;
        z-index: -1;
    }

    .part2::before {
        -webkit-transform: skew(30deg) translateX(-130%);
        transform: skew(30deg) translateX(-130%);
    }

    .part2::after {
        -webkit-transform: skew(-30deg) translateX(-130%);
        transform: skew(-30deg) translateX(-130%);
    }

    .part3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        text-align: start;
        padding: 0% 5%;
        display: flex;
        align-items: end;
        flex-wrap: wrap;
        box-sizing: border-box;

        .fig {
            width: 100%;
        }

        h2 {
            margin: 0;
            padding: 1% 0;
            color: $primary3;
            text-align: center;
            background-color: $primary2;
            font-size: 2rem;
            width: 100%;
            z-index: 99;
            position: relative;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;

        }

    }
}

.card:hover .part1::before {
    -webkit-transform: skew(30deg) translateX(-20%);
    transform: skew(30deg) translateX(-20%);
    -webkit-transition-delay: 0.10s;
    transition-delay: 0.10s;
}

.card:hover .part1::after {
    -webkit-transform: skew(-30deg) translateX(-10%);
    transform: skew(-30deg) translateX(-10%);
    -webkit-transition-delay: 0.10s;
    transition-delay: 0.10s;
}

.card:hover .part2::before {
    -webkit-transform: skew(30deg) translateX(-40%);
    transform: skew(30deg) translateX(-40%);
    -webkit-transition-delay: 0.20s;
    transition-delay: 0.20s;
}

.card:hover .part2::after {
    -webkit-transform: skew(-30deg) translateX(-30%);
    transform: skew(-30deg) translateX(-30%);
    -webkit-transition-delay: 0.20s;
    transition-delay: 0.20s;
}


.card:hover .part2 p {
    display: block;
    color: $primary3;
}

.card:hover .part2 h2 {
    display: block;
    color: $primary3;
}

.card:hover .part2 h2 {

    animation-name: updown;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.card:hover .part3 h2 {
    transform: translateY(100%);
    transition: .5s ease-in-out;
}

@media only screen and (min-width:320px) and (max-width:480px) {
    .card {
        width: 90%;

        .part1 {
            height: 15rem;
        }

        .part2 {
            h2 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (min-width:480px) and (max-width:768px) {
    .card {
        width: 45%;

        .part1 {
            height: 15rem;
        }

        .part2 {
            h2 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}