@import '../../App.scss';

.whyus_block {
    width: 45%;
    padding: 2%;
    background-color: $dark;
    margin-top: 2%;
    box-sizing: border-box;
    position: relative;
    z-index: 11;
    color: $primary3;

    .inner_div {
        border: 2px solid $primary1;
        text-align: center;
        padding: 1% 2%;

        div {
            font-size: 3rem;
        }
    }


}