$primary1: rgb(88, 70, 140);
$primary2: rgb(88, 70, 140);
$primary3: #fff;
$primary_text: #7A7A7A;
$primary2_fade: rgba(87, 70, 140, 0.877);
$navbar-fade: rgb(246, 238, 238, 0.6);
$dark: rgb(47, 47, 47, .9);
$sample: #ff631b;
$sample2: rgba(87, 70, 140, 0.877)